{% extends 'base.html.twig' %}

{% block title %}Folder index
{% endblock %}

{% block body %}

{% for folder in folders %}

<a class="flex justify-between items-center" href="{{path('app_home' , { id : folder.0.id})}}">
    <div class="flex items-center gap-4">
        <input type="color" value="{{folder.0.color}}" class="w-3 h-3" disabled>
        <i class="fa-regular fa-folder"></i>
        <p>{{folder.0.name}}</p>
    </div>
    <p class="text-[#7f7f80]">{{ folder.taskCount }}</p>
</a>
{# {{ include('folder/_delete_form.html.twig') }} #}
{% endfor %}


{% endblock %}